<!-- =========

	Template Name: Play
	Author: UIdeck
	Author URI: https://uideck.com/
	Support: https://uideck.com/support/
	Version: 1.1

========== -->

<!DOCTYPE html>
<head></head>
<body>
    <h1>product</h1>
    <h2>product detail</h2>
    <!-- ====== Hero End ====== -->
    <section id="features" class="ud-features">
        <h4><a href="/products/<%=product.id%>"><%=product.productName%></a></h4>
        <h2><%=product.productPrice%></h2>
        <p><%=product.productdescription%></p>
      </div>
    </section>

</body>

  
</html>
